/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/

body {
    background-color: #272727;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*header*/

header {
    width: 100%;
    top: 0%;
    z-index: 200;
}

.header {
    background-color: #000000e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div a img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.header .user {
    margin-right: 20px;
}

.header .user a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
}

/*nav*/

/* header nav {
    background-color: #9c858571;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-right: 20px;
    height: 25px;
    width: 100%;
    line-height: 0;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 20px;
}

header nav ul li a {
    text-decoration: none;
    list-style: none;
    color: #f4f4f4;
}

header nav ul li :hover {
    color: rgb(255, 136, 0);
    transition: 0.2s;
} */


/*main*/


/* GRID (TENDENCIAS Y RESERVAS) */

.grid-padre {
    display: grid;
    grid-template-areas:
        "h2 h2 h2"
        "img1 img2 img3"
        "img4 img5 img6"
        "reserva reserva reserva"
        "img7 img8 img9"
        "img10 img11 img12";
    grid-template-rows: 1fr;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid-padre h2 {
    grid-area: h2;
    margin-top: 50px;
    background-color: #323232;
}

.grid-padre h2 a {
    grid-area: h2;
    text-decoration: none;
}

.grid-padre .reserva {
    grid-area: reserva;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 20px;
    background-color:#323232
}

.grid-padre .img1 {
    grid-area: img1;
}

.grid-padre .img2 {
    grid-area: img2;
}

.grid-padre .img3 {
    grid-area: img3;
}

.grid-padre .img4 {
    grid-area: img4;
}

.grid-padre .img5 {
    grid-area: img5;
}

.grid-padre .img6 {
    grid-area: img6;
}

.grid-padre .img7 {
    grid-area: img7;
}

.grid-padre .img8 {
    grid-area: img8;
}

.grid-padre .img9 {
    grid-area: img9;
}

.grid-padre .img10 {
    grid-area: img10;
}

.grid-padre .img11 {
    grid-area: img11;
}

.grid-padre .img12 {
    grid-area: img12;
}

.grid-padre div a img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.grid-padre div a img:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.grid-padre h2 :hover {
    color: rgb(255, 136, 0);
    transition: 0.2s;
}

.grid-padre div h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/* comentarios */

.comentario-faker {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
}

.comentario-faker .boton {
    text-align: center;
    margin: 20px;
}

.comentario-faker a {
    width: 200px;
}

.comentario-faker div p {
    margin: 20px;
    color: #949494;
    font-size: 19px;
}


/* °°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */

.item {
    display: flex;
    justify-content: center;
    position: relative;
}

.item .comen {
    border-radius: 10px;
    margin: 10px;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 15px;
}

.item .comen .estrella {
    background-image: url(../img/stars-rating.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12px;
    width: 80px;
    position: relative;
    transform-origin: left;
    transform: scale(.8);
}

.item .comen .usuarios {
    display: flex;
}

.item .comen .usuarios .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding-top: 10px;
}

.item .comen .usuarios .info a {
    color: #fff;
    text-decoration: none;
}

.item .comen .lorem {
    margin: 5px;
    color: #999;
}

.item .comen .comentarios-user {
    font-size: 45px;
    color: #fff;
    padding-right: 20px;
    margin-right: 15px;
    height: 45px;
    width: 45px;
    flex: 0 0 45px;
}

/* main usuario */


.registro{
    background-color:#323232;
    margin: 40px 0 40px 0;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registro h1 {
    color: #fff;
    font-size: 35px;
    text-align: center;
}

.registro .inicio-sesion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.registro .inicio-sesion a img{
    width: 50px;
    margin: 20px;
}


.registro .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registro div input{
    width: 50%;
    height: 48px;
    margin: 10px;
    padding: 5px;
    color: #fff;
    border: 0;
    border-radius: 10px;
    background-color: hsla(0,0%,6%,.4);
}


/* suscripcion */

.suscripcion {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #323232;
}

.suscripcion h3 {
    color: #f4f4f4;
    text-align: center;
    margin-top: 30px;
}

.suscripcion p {
    color: #999;
}

.suscripcion a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.suscripcion a img {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*footer*/

footer {
    background-color: #101010;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
}

footer div h3 {
    color: #f4f4f4;
}

footer div p {
    color: #fff
}

footer div a img {
    width: 100%;
    height: 30px;
}

footer .redes{
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: end;
    margin-right: 15px;
}

footer .info{
    display: flex;
    margin-right: 20px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

footer .info div{
    margin-right: 50px;
}


.redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes .fb {
    margin: 10px;
}

.redes .ig {
    margin: 10px;
}

.redes .tw {
    margin: 10px;
}

.redes :hover {
    transform: scale(1.2);
    transition: 0.2s;
}

/* PAGINAS NAV*/

.titulo {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.grid-tendencias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 30px;
    margin: 30px;
    object-fit: cover;
    position: relative
}


.grid-tendencias div {
    position: relative;
}

.grid-tendencias div h3 {
    position: absolute;
    color: #fff;
    font-size: 15px;
    margin: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.grid-tendencias div a img {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    position: relative;
}

.grid-tendencias div a img:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

/* PAGINA FC24 */

.shop{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0 40px 0;
}


.shop img{
    width: 50%;
    border-radius: 25px;
    margin: 0 10px 0 20px;
}



.shop div h1{
    font-size: 36px;
    color: #fff;
    margin: 20px;
}

.shop .info-shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#323232;
    width: 50%;
    border-radius: 25px;
    margin: 0 20px 0 10px;
}

.shop .info-shop h4{
    color: #fff;
    margin: 30px;
}

.shop .info-shop a{
    margin-top: 20px;
    width: 55%;
}

.info-juego{
    background-color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-juego div h2{
    color: #fff;
    margin-top: 20px;
}

.info-juego p{
    color: #999;
    margin-inline: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.visuales h2{
    color: #fff;
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visuales .video{
    display: flex;
    justify-content: center;
}

.visuales .pictures{
    display: flex;
    justify-content: center;
    align-items: center;
}


.visuales .pictures .img-fc{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px;
}

.visuales .pictures .img-fc img{
    width: 100%;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
}


.visuales .pictures .contenedor-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.visuales .pictures .contenedor-img img{
    width: 45%;
    border-radius: 15px;
    margin: 10px;
    height: 100%;
}

.configuraciones{
    display: flex;
    flex-direction: column;
}

.configuraciones h2{
    text-align: center;
    color: #fff;
    margin: 30px 20px 30px 20px;
}

.configuraciones .config{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20px 10px 20px;
}

.configuraciones .config .minima h3{
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.configuraciones .config .minima ul li{
    text-decoration: none;
    list-style: none;
    color: #999;
}

.configuraciones .config .recomendada h3{
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.configuraciones .config .recomendada ul li{
    text-decoration: none;
    list-style: none;
    color: #999;
}


            /* COMPRAS */

.cesta{
    display: flex;
    min-height: 75vh;
    display: flex;
    justify-content: center;
}

.cesta .contenedor-carrito{
    width: 70%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.cesta .contenedor-carrito h2{
    color: #fff;
    text-align: start;
}

.cesta .contenedor-carrito .contenedor-info-carrito{
    display: flex;
    background-color: #323232;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
}

.cesta .contenedor-carrito .contenedor-info-carrito i{
    font-size: 72px;
    color:#ff5400;
}

.cesta .contenedor-carrito .contenedor-info-carrito h3{
    color: #fff;
    margin: 20px 20px 20px 20px;
}

.cesta .contenedor-carrito .contenedor-info-carrito p{
    text-align: center;
    color: #999;
}

.cesta .contenedor-carrito .contenedor-info-carrito a{
    margin: 10px;
}

.cesta .contenedor-resumen{
    width: 30%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.cesta .contenedor-resumen h2{
    color: #fff;
    text-align: start;
    position: sticky;
}

.cesta .contenedor-resumen .contenedor-info-resumen{
    display: flex;
    flex-direction: column;
    background-color: #323232;
    border-radius: 10px;
}

.cesta .contenedor-resumen .contenedor-info-resumen .span{
    display: flex;
    justify-content: space-between;
}

.cesta .contenedor-resumen .contenedor-info-resumen .span p{
    color: #999;
}

.cesta .contenedor-resumen .contenedor-info-resumen a {
    margin-bottom: 10px;
}


.cesta .contenedor-resumen .contenedor-info-resumen div{
    margin: 10px;
}

.cesta .contenedor-resumen .info-boton{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* MEDIA QUERY */

@media screen and (max-width:500px){
    .header div a img{
        width: 40px;
        height: 40px;
    }
}


@media screen and (max-width:500px){
.header .user a {
    font-size: 25px;
    }
}

@media screen and (max-width:400px){
    header nav{
        font-size: 12px;
    }
}

@media screen and (max-width:800px) {
    .grid-padre {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-areas:
            "h2 h2"
            "img1 img2"
            "img3 img4"
            "img5 img6"
            "reserva reserva"
            "img7 img8"
            "img9 img10"
            "img11 img12";
    }
}

@media screen and (max-width:800px){
    .grid-padre div h3{
        font-size: 13px;
    }
}

@media screen and (max-width:800px) {
    .comentario-faker {
        flex-wrap: wrap;
    }

    .comentario-faker img {
        width: 300px;
        height: 200px;
        margin-top: 20px;
    }
}

@media screen and (max-width:850px) {
    .grid-tendencias {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .grid-tendencias .grid-item1 {
        display: none;
    }
}

@media screen and (max-width:750px) {
    .grid-tendencias div a img {
        height: 85%;
    }
}

@media screen and (max-width:535px) {
    .grid-tendencias div a img {
        height: 70%;
    }
}

@media screen and (max-width:450px) {
    .grid-tendencias div a img {
        height: 65%;
    }
}

@media screen and (max-width:400px) {
    .grid-tendencias {
        grid-template-columns: repeat(1, 1fr);
        width: 85%;
        height: 100%;
    }
}

@media screen and (max-width:740px) {
    .item .comen1 {
        display: none;
    }
}

@media screen and (max-width:650px) {
    .item {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:720px) {
    footer .redes {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:720px) {
    footer .info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
}

@media screen and (max-width:650px){
    footer .redes {
        margin-bottom: 10px;
    }

    footer div p{
        font-size: 12px;
    }
}

         /* fc24 */


 @media screen and (max-width:760px){

    .shop{
        flex-wrap: wrap;
    }
        
    .shop img{
        width: 70%;
        margin-bottom: 20px;
        margin: 0px 0px 20px 0px;
    }
        
    .shop .info-shop{
        width: 70%;
        margin: 0px;
    }
        
    .shop .info-shop a{
        margin-bottom: 20px;
    }
        
    .shop div h1{
        font-size: 26px;
    }
}

@media screen and (max-width:960px){
    .visuales .pictures{
        display: flex;
        flex-wrap: wrap;
    }

    .visuales .pictures .img-fc img{
        margin: 15px;
    }

    .visuales .pictures .contenedor-img img{
        margin: 5px 5px 5px 5px;
    }
} 


               /* CARRITO */


@media screen and (max-width:620px){
    .cesta{
        flex-wrap: wrap;
    }

    .cesta .contenedor-carrito{
        width: 95%;
    }

    .cesta .contenedor-resumen{
        width: 95%;
    }
}