header{
    width: 100%;
    top: 0%;
    z-index: 200;
    .header{
        background-color: #000000e7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            a{
                img{
                    width: 50px;
                    height: 50px;
                    margin-left: 20px;
                }
            }
        }

        .titulo-principal{
            h1{
                a{
                    background: linear-gradient(#1497be, #1c2aec);
                    color: transparent;
                    text-decoration: none;
                    list-style: none;
                    margin-left: 30px;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    animation: titulo 5s linear infinite;
                    @keyframes titulo {
                        0%{
                            filter: hue-rotate(0deg)
                        }
                        100%{
                            filter: hue-rotate(360deg)
                        }
                    }
                }
            }
        }


        .user{
            margin-right: 20px;
            a{
                color: $color-titulos;
                text-decoration: none;
                font-size:nth($font-size, 4);
                padding: 5px;
                i{
                    &:hover{
                        color: rgb(255, 136, 0);
                        transition: 0.1s;
                    }
                }
            }
        }
    }
    nav{
        background-color: #9c858571;
        @extend %flex-center;
        padding-top: 10px;
        padding-right: 20px;
        height: 25px;
        width: 100%;
        line-height: 0;
        ul{
            display: flex;
            list-style: none;
        }
            li{
                padding: 20px;
                a{
                    text-decoration: none;
                    list-style: none;
                    color: $color-titulos;
                    &:hover{
                        color: rgb(255, 136, 0);
                        transition: 0.1s;
                    }
                }
            }
    }
}
